<div class="container">
    <div class="row">
        <div class="col-md-12 mt-100 text-right">
            <div class="login-wrapper">
                <h4>تسجيل الدخول</h4>
                <button
                 class="btn mb-20 btn-primary d-block" (click) ="login()">  تسجيل الدخول باستخدام جوجل
                </button>
            
           <form>
               <div class="form-group">
                   <label for="name">البريد الاكتروني</label>
                   <input disabled placeholder="أدخل الايميل" id ="name" type="text" class ="form-control">
               </div>
    
               <div class="form-group">
                <label for="password">كلمة السر</label>
                <input disabled placeholder="أدخل كلمة السر" id ="password" type="text" class ="form-control">
            </div>
           </form>
        </div>
        </div>
    </div>
</div>