<!--    Top Bar
  =-->
<section id="topbar" class="d-none d-lg-block">
  <div class="container clearfix">
    <div class="contact-info float-right">
      <i class="fa fa-phone"></i> <a href="mailto:contact@example.com">Greatkidsdm@gmail.com</a>

      <i class="fa fa-envelope"></i> +966 54 290 7589
    </div>
    <div class="social-links float-left">
      <a href="https://twitter.com/GREATKIDSDM" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://www.snapchat.com/add/greatkidsdm" target="_blank" class="facebook"><i class="fab fa-snapchat-ghost"></i></a>
      <a href="https://instagram.com/greatkidsdm?igshid=rdbc5ahkfgax" target="_blank" class="instagram"><i
          class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>

<!--    Header
  =-->
<header id="header">
  <div class="container">
    <div class="row">
      <div id="logo" class="ml-auto">
        <!-- <h1><a href="#body" class="scrollto">GRE<span>AT</span> KI<span>dS</span> </a></h1>       -->
        <!-- <a href="#body"><img src="assets/images/logo.png" alt="" title="" /></a> -->
        <a href="">
          <img class="img-fluid" src="assets/images/layout/logo.png" alt="">
        </a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="">الرئيسية</a></li>
          <li><a href="#about">من نحن</a></li>
          <li><a href="#services">خدماتنا</a></li>
          <li><a href="#portfolio">ألبومات</a></li>

          <li><a href="#contact">احجز موعد</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--  Intro Section
=-->
<section id="intro">
  <img class="slider-img" src="assets/images/layout/center-slider.png" alt="">

  <div class="intro-content">
    <div>
      <a href="#about" class="btn-get-started scrollto">احجز موعد</a>
      <a href="#portfolio" class="btn-projects scrollto">شاهد أكثر</a>
    </div>
  </div>

  <!-- <div id="intro-carousel" class="owl-carousel" > -->
  <div class="wrapper">
  </div>
</section>

<main id="main">
  <!--      About Section
    =-->
  <section id="about" class="mt-40 wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/images/about.jpg" alt="">
        </div>

        <div class="text-right col-lg-6 content pr-40">
          <h2 class="mb-40 text-center">من نحن</h2>
          <h3 class="mb-20">نادي ترفيهي و رعاية للأطفال</h3>

          <ul>
            <li><i class="fas fa-check"></i> مناهج تعليميه في جو من المرح</li>
            <li><i class="fas fa-check"></i> توفير الرعاية الصحية و البدنية والذهنية للأطفال تحت إشراف طاقم سعودي</li>
            <li><i class="fas fa-check"></i> نستقبل اطفالكم فترتي الصباح و المساء طيلة أيام الأسبوع ما عدا الجمعة</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--      Services Section
    =-->
  <section id="services" class="mt-40">
    <div class=" container">
      <div class="text-right section-header">
        <h2>ما نقدمه لطفلك</h2>
        <!-- <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p> -->
      </div>

      <div class="row text-right">
        <div class="col-lg-6 mb-30 ">
          <div class="box wow fadeInRight">
            <div class="row">
              <div style="background: url('assets/images/layout/service-1.jpg');" class="service-img col-md-5">
                <!-- <img class="service-img" src="" alt=""> -->
              </div>

              <div class="col-md">
                <h4 class="title">ألعاب حركية</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat tarad limino ata nodera clas.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-30">
          <div class="box wow fadeInRight">
            <div class="row">
              <div style="background: url('assets/images/layout/service-2.jpg');" class="service-img col-md-5">
                <!-- <img class="service-img" src="" alt=""> -->
              </div>

              <div class="col-md">
                <h4 class="title">ألعاب تعليمية</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat tarad limino ata nodera clas.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="row">
              <div style="background: url('assets/images/layout/service-3.jpg');" class="service-img col-md-5">
                <!-- <img class="service-img" src="" alt=""> -->
              </div>

              <div class="col-md">
                <h4 class="title">ركن فني</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat tarad limino ata nodera clas.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="row">
              <div style="background: url('assets/images/layout/service-4.jpg');" class="service-img col-md-5">
                <!-- <img class="service-img" src="" alt=""> -->
              </div>

              <div class="col-md">
                <h4 class="title">سينما</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat tarad limino ata nodera clas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--      Our Portfolio Section
    =-->
  <section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="text-right section-header">
        <h2>ألبومات</h2>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">
        <div *ngFor="let i of portfolioImages" class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{{i}}" class="portfolio-popup">
              <img class="img-fluid" [src]="i" alt="">
              <div class="portfolio-overlay">
                <!-- <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #portfolio -->

  <!-- start viedo-add section -->
  <section class="pv-80 main-background wow fadeInUp" id="viedo-add">
    <div class="video-wrapper">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/TUyd_to_M6g" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <!-- end viedo-add section -->

  <!--  Contact Section-->
  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="text-right section-header">
        <h2>احجز موعد</h2>
        <p class="great">نتشرف بزيارتكم لنا، لكن فضلًا قم باختيار موعد حتى نُحسن استقبالكم</p>
      </div>

      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="fas fa-map-marker-alt"></i>
            <h3 class="mv-10">العنوان</h3>
            <address>3864-3840 Al Imam Ali Ibn Abi Talib St, Al Rawdah, Dammam 32255, Saudi Arabia </address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="fas fa-phone"></i>
            <h3 class="mv-10">الجوال</h3>
            <p><a href="tel:+966 54 290 7589">+966 54 290 7589</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="fas fa-envelope"></i>

            <h3>البريد الالكتروني</h3>
            <p><a href="mailto:greatkidsdm@gmail.com">Greatkidsdm@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3573.8776648530584!2d50.08452701503392!3d26.39513968335329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjbCsDIzJzQyLjUiTiA1MMKwMDUnMTIuMiJF!5e0!3m2!1sen!2seg!4v1592952481885!5m2!1sen!2seg"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false"
        tabindex="0"></iframe>
    </div>

    <div class="container">
      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>

        <form #userForm="ngForm" (ngSubmit)="send(userForm.value)" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <input required type="text" ngModel #name="ngModel" name="name" class="form-control" id="name"
                placeholder="الاسم" data-rule="minlen:4" />

            </div>

            <div class="form-group col-md-12">
              <input required type="text" #phone="ngModel" ngModel name="phone" class="form-control" id="name"
                placeholder="الجوال" data-rule="minlen:4" />

            </div>

            <div class="form-group col-md-12">
              <input required #email="ngModel" ngModel type="email" class="form-control" name="email" id="email"
                placeholder="البريد الالكتروني" data-rule="email" data-msg="من فضلك أدخل البريد الالكتروني" />

            </div>
          </div>

          <div class="w-100 form-group">
            <div class="row w-100 no-gutters">
              <h2 class="text-right w-100 date-header">احجز موعد</h2>

              <div class=" col-md-6 form-group">
                <input #date="ngModel" name="date" ngModel id="date" class="form-control" type="date">
              </div>

              <div class="col-md-6 form-group pr-10">
                <input #time="ngModel" ngModel name="time" class="form-control w-100" id="time" type="time">
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" #message="ngModel" ngModel name="message" rows="5" data-rule="required"
              placeholder="أضف رسالتك"></textarea>
          </div>
          <div class="text-center"><button type="submit">ارسال</button></div>
        </form>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>ClickToPass</strong>. All Rights Reserved
    </div>
  </div>
</footer>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>