<div class="main-wrapper ph-50 pv-30" >
    <div class="warn d-flex justify-content-center second-admin-color">
        <div class="">
            <i class="fas fa-exclamation "></i>
        </div>
    </div>
    
    <h3 class="mb-20" mat-dialog-title> احترس! </h3>
    
    <mat-dialog-content class="text-center mb-20">
        تأكيد عملية الحذف؟
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="delete-btn ml-10 hover cancel"   mat-dialog-close="yes"> تأكيد </button>
        <button class="delete-btn"  mat-dialog-close="no"> رجوع</button>  
    </mat-dialog-actions>    
</div>